body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s;
}

.container {
    text-align: center;
    color: #FFFFFF;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.5em;
}

